:root {
  color: var(--color-IRIS#4D5AE5);
}
body{
  font-family:'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--IRIS);
}
.first:hover{
  color:#404bbf;
}
.first:focus{
  color:#404bbf;
}
.first{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.address{
  font-style: normal;
 
}
.span{
  color: #2e2f42;
}
.link{
  color:#2e2f42;
  text-decoration: none; 
}
.contact{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  text-decoration: none;

}
.contact:hover{
  color:#404bbf
}
.contact:focus{
  color:#404bbf;
}
.filter-button :hover
.filter-button :focus{
background-color: var(--color-example);
}
.section{
  background-color: #2e2f42;
}
.heading{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;

}

.filter-button{
    background-color: var(--color-main);
    font-family: inherit;
    cursor: pointer;
}
.foo{
  background-color: #2e2f42;
}
