:root {
  color: var(--color-accent);
}
body{
  font-family:'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
:root{
color: var(--color-accent);
}

.list{
  
}
.filter-button :hover
.filter-button :focus{
background-color: var(--color-example);
}

.filter-button{
    background-color: var(--color-main);
    font-family: inherit;
    cursor: pointer;
}
.foo{
  background-color: #2e2f42;
}
